<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.recycle.mapper.RecyclePlanOrderMapper">
    <select id="listOrderWithPage" parameterType="com.alibaba.fastjson.JSONObject" resultType="com.alibaba.fastjson.JSONObject">
        select
        t1.id,
        t1.`user_id` as userId,
        (select name from recycle_user where uid = userId) as userName,
        `recycle_user_id` as recycleUserId,
        (select name from recycle_user where uid = recycle_user_id) as recycleUserName,
        `sub_category_id` as subCategoryId,
        (select name from recycle_sub_category where id = `sub_category_id`) as subCategoryName,
        t3.unit_price as unitPrice,
        `take_goods_time` as takeGoodsTime,
        `estimat_weight` as estimatWeight,
        `image`,
        `memo`,
        t1.create_by as createBy,
        t1.`create_time` as createTime,
        t2.service_address as serviceAddress,
        t2.linkman,
        t2.phone
        from recycle_plan_order t1
        left join recycle_address t2
        on t1.recycle_address_id = t2.id
        left join recycle_sub_category t3
        on t1.sub_category_id = t3.id
        <where>
            <if test="userId != null">
                and  t1.user_id = #{userId}
            </if>

        </where>
        limit #{pageIndex}, #{pageSize}
    </select>
    <select id="count" parameterType="com.alibaba.fastjson.JSONObject" resultType="java.lang.Integer">
        SELECT
        count(*)
        FROM
        recycle_plan_order
        <where>
            <if test="userId != null">
                and  user_id = #{userId}
            </if>
        </where>
    </select>


    <select id="getRecycleUserById" parameterType="java.lang.String" resultType="com.alibaba.fastjson.JSONObject">
        select
        t1.id,
        t1.`user_id` as userId,
        (select name from recycle_user where uid = userId) as userName,
        `recycle_user_id` as recycleUserId,
        (select name from recycle_user where uid = recycle_user_id) as recycleUserName,
        `sub_category_id` as subCategoryId,
        t3.unit_price as unitPrice,
        `take_goods_time` as takeGoodsTime,
        `estimat_weight` as estimatWeight,
        `image`,
        `memo`,
        t1.create_by as createBy,
        t1.`create_time` as createTime,
        t2.service_address as serviceAddress,
        t2.linkman,
        t2.phone
        from recycle_plan_order t1
        left join recycle_address t2
        on t1.recycle_address_id = t2.id
        left join recycle_sub_category t3
        on t1.sub_category_id = t3.id
        where t1.id = #{id}
    </select>
</mapper>