<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.demo.recycle.mapper.RecycleUserCashMapper">


    <select id="listWithPage" parameterType="com.alibaba.fastjson.JSONObject" resultType="com.alibaba.fastjson.JSONObject">
        select
            `id`  as id,
          `cash_way` as cashWay,
          `cash_money` as cashMoney,
          `serial_num` as serialNum,
          `audit_status` as auditStatus,
        from recycle_user_cash
        <where>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
        </where>
        limit #{pageIndex}, #{pageSize}
    </select>

    <select id="count" parameterType="java.lang.Integer" resultType="com.alibaba.fastjson.JSONObject">
        select
            count(*)
        from recycle_user_cash
        <where>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
        </where>
    </select>
</mapper>